html {
    font-size: 1rem;
}
body {
    background-color: #F5F5F5;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
}
/* nav */
nav {
    background-image: linear-gradient(to right, rgb(0,0,0,0.99) 0% 100% );
}
.container-fluid .navbar-brand  {
    font-size: 28px;
    font-weight: 600;
}
.navbar-nav li {
    margin-right: 40px;
    
}
.navbar-nav li a {
    color: white;
    text-decoration: none;
    position: relative;
    font-weight: 600;
}
.navbar-nav li a:hover {
    color: white;
}
.navbar-nav li a::before {
    content: "";
    position: absolute;
    background-color: white;
    width: 0;
    height: 2px;
    bottom: 2px;
    left: 7px;
    transition: 0.7s;
    color: white !important;
}
.navbar-nav li:hover a::before {
    width: 70%;
}
/* hero */
#Home {
    background-image: linear-gradient(to right, rgb(0,0,0,0.6) 0% 100% ) ,url(../img/hero-bg\ \(1\).jpg);
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
}
#Home .container-fluid {
    height: 100vh;
}
#Home .container-fluid .hero-caption {
    color: white;
    h2 {
        font-size: 4.5rem;
        font-weight: 600;
    }
    h3 {
        font-size: 2.5rem;
        font-weight: 600;
    }
}
#Home .container-fluid .hero-caption h3::after {
    content:"" ;
    animation: typing 2s infinite alternate ;
}
@keyframes typing {
    0% {
        content: "|";
    }
    10% {
        content: "Ph|";
    }
    20% {
        content: "Pho|";
    }
    30% {
        content: "Phot|";
    }
    40% {
        content: "Photo|";
    }
    50% {
        content: "Photog|";
    }
    60% {
        content: "Photogr|";
    }
    70% {
        content: "Photogra|";
    }
    80% {
        content: "Photograp|";
    }
    90% {
        content: "Photograph|";
    }
    100% {
        content: "Photographer|";
    }
    
}
/* About */
.skill {
    h3 {
        color: gray;
    }
}
.about-img-caption {
    h3 {
        margin-bottom: 13px;
        span {
            color: gray;
        }
    }
}
.progress {
    margin-bottom: 30px;
    border-radius: 0 !important;
    div.html {
        width: 85% ;
    }
    div.java {
        width: 90%;
    }
}
.about-right .about-right-header h2 {
    position: relative;
}
.about-right h2::after {
    content: "";
    position: absolute;
    width: 22%;
    height: 3px;
    background-color: blue;
    bottom: -10px;
    left: 0;
}
.about-right-caption {
    color:RGB(78, 78, 78);
    font-size: 20px;
    font-weight: 300;
}
/* services */
#services {
    margin-bottom: 20px;
    .services-header {
        h2 {
            font-size: 48px;
            font-weight: 700;
            padding-block: 20px;
        }
        & p {
            position: relative;
        }
        & p::after {
            content: "";
            position: absolute;
            width: 30px;
            height: 5px;
            background-color: #0078FF;
            bottom: -15px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
#services .card {
    width: 100% ;
}
.logo-back,.logo {
    transition: 0.7s;
}
.card:hover .logo-back {
    background-color: #CDE1F8 !important;
}
.logo i {
    transition: 0.7s;
}
.card:hover .logo {
    background-color: #0078FF !important;
}
#services .card:hover i {
    color: white;
}
.logo-back {
    width: 130px;
    height: 130px;
    
}
.logo {
    width: 110px;
    height: 110px;
}
/* stats */
#stats {
    background-image:linear-gradient(to right, RGB(0, 120, 255,0.5) 0% 100%),url(../img/counters-bg.jpg) ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#stats .row {
   .state {
    width: 100%;
   }
    padding-block: 50px;
    i {
        color: white;
    }
    span,p {
        color: white;
    }
   
}
.state-back {
    border:10px solid #CDE1F8 ;
}
.state-icone {
    height: 70px;
    width: 70px;
}
/* work */
#work .work-header h2 {
    font-size: 48px;
    font-weight: 700;
    padding-block: 20px;

}
#work .work-header p {
    position: relative;
}
#work .work-header p::after {
        content: "";
        position: absolute;
        width: 30px;
        height: 5px;
        background-color: #0078FF;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
}
#work .row .card .card-body {
    .card {
        width: 30%;
    }
    .left-body h3{
        font-size: 1.2rem;
    }
    .left-body h5 {
        font-size: 0.7875rem;
    }

}
#work .row .card .card-body .work-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid #0078FF;
}
#work .row .card .card-img img {
    width: 100%;
    transition: 1s;
}
#work .row .card:hover .card-img img {
    transform: scale(130%);
}
/* testemony */
#testemony  {
    background-image:linear-gradient(to right, RGB(0, 120, 255,0.5) 0% 100%), url(../img/overlay-bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}
#testemony .row .carousel-inner  {
    img {
         width: 150px;
    height: 150px;
    }
    .sec {
        height: 150px;
        width: 100px;
    }
   
    
}
#testemony .row .carousel-indicators button {
    width: 10px;
    height: 10px;
}
/* blog */
#blog .blog-header {
    h2 {
        font-size: 48px;
        font-weight: 700;
        padding-block: 20px;
    }
    p {
        position: relative;
    }
}
#blog .blog-header p::after {
        content: "";
        position: absolute;
        width: 30px;
        height: 5px;
        background-color: #0078FF;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
}

#blog .card .card-box {
    span {
        font-size: 0.7rem;
    }
    width: 85px;
    height: 25px;
    left: 50%;
    transform: translateX(-50%);
    top: -13px;
    
}
#blog .card  .card-body-footer {
    background-color: #F8F8F8;
    .left-footer {
        h3 {
            transition: 0.7s;
        }
        h3:hover {
            color: #0078FF;
        }
        img {
            width: 30px;
            height: 30px;
        }
    }
}
#blog .card .card-body {
    h3 {
        font-size: 1.3rem;
        transition: 0.7s;
    }
    h3:hover {
        color: #0078FF;
    }
}
/* contact */
#contact {
    background-image: linear-gradient(to right, RGB(0, 120, 255,0.5) 0% 100%),url(../img/overlay-bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#contact .contact-header h2{
    position: relative;
}
#contact .contact-header h2::after {
        content: "";
        position: absolute;
        width: 80px;
        height: 3px;
        background-color: #0078FF;
        bottom: -15px;
        left: 40px;
        transform: translateX(-50%);
}
#contact .row .form form input {
    width: 100%;
    height: 40px;
}
#contact .row .form form textarea {
    height: 150px;
    outline: none;
    border: 1px solid gray;
    
}
.social .social-icone {
    border: 3px solid;
    transition: 1s;
}
.social .social-icone:hover {
    background-color: #0078FF;
    border:3px solid #CDE1F8 !important;
}
.social .social-icone:hover i {
    color: white;
}